<ion-header>
  <ion-toolbar>
    <ion-title>
      Metropolitan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ng-container *ngFor="let i of paintings | slice:0:(paintings.length / 2) ; let rowIndex = index">
      <ion-row>
        <ion-col size="6" *ngIf="paintings[rowIndex * 2]">
          <ion-card (click)="viewDetails(paintings[rowIndex * 2])">
            <img [src]="paintings[rowIndex * 2]?.primaryImage" />
            <ion-card-content>
              <h3>{{ paintings[rowIndex * 2]?.title }}</h3>
              <p>{{ paintings[rowIndex * 2]?.artistDisplayName || 'Unknown' }}</p>
              <p>{{ paintings[rowIndex * 2]?.department || 'Unknown' }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" *ngIf="paintings[rowIndex * 2 + 1]">
          <ion-card (click)="viewDetails(paintings[rowIndex * 2 + 1])">
            <img [src]="paintings[rowIndex * 2 + 1]?.primaryImage" />
            <ion-card-content>
              <h3>{{ paintings[rowIndex * 2 + 1]?.title }}</h3>
              <p>{{ paintings[rowIndex * 2 + 1]?.artistDisplayName || 'Unknown' }}</p>
              <p>{{ paintings[rowIndex * 2 + 1]?.department || 'Unknown' }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <ion-button expand="full" (click)="loadMorePaintings()">More</ion-button>
</ion-content>
